In [1]:
# Import necessary ibraries

import pandas as pd
import numpy as np

In [3]:
# Loading the data files
df_1 = pd.read_csv("mnt/data/reference.csv")
df_2 = pd.read_csv("mnt/data/analysis.csv")

# merging the analysis and reference files
df = pd.concat([df_1, df_2])

# printing the no.of rows and no.of columns
print("Number of rows: ", df.shape[0])
print("Number of columns: ", df.shape[1])

# converting the timestamp into date and adding the date column
df['date'] = pd.to_datetime(df['timestamp']).dt.date

print("Number of rows: ", df.shape[0])
print("Number of columns: ", df.shape[1])
df.head()

Number of rows:  90174
Number of columns:  7
Number of rows:  90174
Number of columns:  8

,timestamp,time_since_login_min,transaction_amount,transaction_type,is_first_transaction,user_tenure_months,is_fraud,date
0,2018-01-01 00:00:00.000,1.561750,3981.1,PAYMENT,False,0.318980,1.0,2018-01-01
1,2018-01-01 00:08:43.152,1.658074,1267.9,PAYMENT,False,7.391323,0.0,2018-01-01
2,2018-01-01 00:17:26.304,2.454287,1984.7,CASH-IN,False,0.781225,1.0,2018-01-01
3,2018-01-01 00:26:09.456,2.392085,2265.2,CASH-OUT,False,0.680473,1.0,2018-01-01
4,2018-01-01 00:34:52.608,2.189806,2126.8,CASH-IN,False,8.542895,1.0,2018-01-01

In [6]:
df.dtypes

timestamp                object
time_since_login_min    float64
transaction_amount      float64
transaction_type         object
is_first_transaction       bool
user_tenure_months      float64
is_fraud                float64
date                     object
dtype: object

In [10]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [24]:
# Creation of time-based features
df['transaction_hour'] = df.timestamp.dt.hour
df['transaction_day'] = df.timestamp.dt.dayofweek

# Creation of Log based features
df['amount_log'] = np.log1p(df['transaction_amount'])

# Creation binary flags
df['high_amount_flag'] = (df['transaction_amount'] > df['transaction_amount'].median()).astype(int)


# Interaction Feature creation
df['amount_x_time'] = df['transaction_amount'] * df['time_since_login_min']

In [31]:
df.head(3)

,timestamp,time_since_login_min,transaction_amount,transaction_type,is_first_transaction,user_tenure_months,is_fraud,date,transaction_hour,transaction_day,amount_log,amount_x_time,high_amount_flag
0,2018-01-01 00:00:00.000,1.561750,3981.1,PAYMENT,False,0.318980,1.0,2018-01-01,0,0,8.289565,6217.481774,1
1,2018-01-01 00:08:43.152,1.658074,1267.9,PAYMENT,False,7.391323,0.0,2018-01-01,0,0,7.145906,2102.272115,0
2,2018-01-01 00:17:26.304,2.454287,1984.7,CASH-IN,False,0.781225,1.0,2018-01-01,0,0,7.593727,4871.023843,0

In [28]:
df.duplicated().sum(), df.isnull().sum()

(np.int64(0),
 timestamp                  0
 time_since_login_min       0
 transaction_amount         0
 transaction_type        5505
 is_first_transaction       0
 user_tenure_months         0
 is_fraud                   0
 date                       0
 transaction_hour           0
 transaction_day            0
 amount_log                 0
 amount_x_time              0
 high_amount_flag           0
 dtype: int64)

In [32]:
# Replacing null values of transaction_type with its mode
df['transaction_type'].fillna(df['transaction_type'].mode()[0], inplace=True)

In [ ]:
df_1 =